*~
.idea
\#*\#
.\#*
.bundle
bundler
spec_reports
spec_coverage
ci-artifacts-dir
ci-working-dir
*.rbc
*.swp
.rvmrc
*.pid
cloud_controller/config/cloud_controller.yml
health_manager/config/health_manager.yml
dea/config/dea.yml
